@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

html {
    position: relative;
    min-height: 100%;    
}

body {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: #113223;
    color: #F4EFE4;
}

body div.title {
    text-align: center;
    margin: 70px 0;
}

body div.title h1 {
    font-weight: bold;
    font-size: 60px;
}

body div.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body div.table {
    background: rgba(35, 173, 99, 0.50);
    border-radius: 30px;
    margin: 40px;
    padding: 10px; 
}

body div.table table {
    font-size: 22px;
    text-align: center;
    color: #F4EFE4;
}

body div.table table thead tr th {
    font-weight: normal;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom: 2px solid #51DAC9;
}

body div.buttons {
    display: flex;
    justify-content: center;
    gap: 5%;
    width: 100%;
    text-align: center; 
}

body div.buttons button.btn-user {
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px;
    border: 3px solid #51DAC9;
    background: transparent;
    color: #f4eee4;
    width: 150px;
    height: 50px;
}
body div.buttons a {
text-decoration: none;
}

body div.buttons button.btn-user i {
    margin-right: 5px;
    text-align: center;
}

body div.buttons button.btn-user:hover {
    background: #50d9c955;
    transition: .5s;
}

body div.buttons button.btn-admin {
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px;
    border: 3px solid #9FA3F6;;
    background: transparent;
    color: #f4eee4;;
    width: 150px;
    height: 50px;
}

body div.buttons button.btn-admin i {
    margin-left: 5px;
    text-align: center;
}

body div.buttons button.btn-admin:hover {
    background: rgba(159, 163, 246, 0.50);
    transition: .5s;
}

body div.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
