* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #11322E;
    color: #F4EFE4;
    display: flex;
}

.bg-custom {
    background-color: #11322E; 
}

.table {
    color: #F4EFE4;
    border-radius: 20px;
    background: rgba(35, 173, 99, 0.5);
    padding: 3px;
}

button {
    width: 170px;
    height: 50px;
    border-radius: 70px;
    border-color: #51DAC980;
    margin: 5px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 40px;
    background: transparent;
    color: #f4eee4;
    width: 140px;
    height: 50px;
    transition: .5s;
}

.tableButtons {
    width: 60px;
    height: 34px;
    border-radius: 70px;
    border-color: #51DAC980;
    font-family: "Poppins";
    margin: 1px;
    font-size: 13px;
    font-weight: 100;
    border-radius: 40px;
    background: transparent;
    color: #f4eee4;
    transition: .5s;
}

button:hover {
    background: rgba(81, 218, 201, 0.50);
    scale: 1.1;
    transition: .5s;
}

/*NUEVO PLAZO FIJO FORMULARIO*/

.fixedTermIntro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.CreateForm {
    background: rgba(81, 218, 201, 0.50);
    padding: 20px;
    border-radius: 20px;
    width: 980px;
    height: 500px;
    border: 20px;
}

.form-group {
    padding:20px;
}

input.form-control {
    border: none;
    background: rgba(81, 218, 201, 0.50);
    color: #F4EFE4;
    transition: background 0.3s, color 0.3s;
}

input.form-control:focus {
    box-shadow: none;
    outline: none;
    background: rgba(81, 218, 201, 0.60);
    color: #F4EFE4;
    transition: background 0.3s, color 0.3s;
    }

input.form-control:not(:placeholder-shown) {
    color: #F4EFE4
}

.plazofijo formularios {
    justify-content: space-between;
    align-items: center;
}

.CreateButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px
}

a {
    color: #F4EFE4;
    text-decoration: none;
}

a:hover {
    color: #F4EFE4; 
    text-decoration: none;
}

/*PLAZO FIJO INICIO*/

th {
    color: #F4EFE4;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

}

td {
    color: #F4EFE4;
    padding: 20px;
}

.page-link {
    color: green;
}

/*EDITAR PLAZO FIJO*/

.EditButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px
}

.Edit {
    width: 170px;
    height: 50px;
    border-radius: 70px;
    color: #F4EFE4;
    background-color: #51DAC980;
    border-color: #51DAC980;
}

.EditForm {
    background: rgba(26, 112, 72);
    padding: 50px;
    border-radius: 70px;
    width: 980px;
    height: 500px;
    border: 70px;
}

.EditBack {
    width: 170px;
    height: 50px;
    border-radius: 70px;
    color: #F4EFE4;
    background-color: rgba(35, 173, 99, 0.80);
    border-color: #51DAC980;
}

.editButton {
    width: 170px;
    height: 50px;
    border-radius: 70px;
    color: #F4EFE4;
    background-color: rgba(35, 173, 99, 0.80);
    border-color: #51DAC980;
}

.edit input.form-control {
    border: none;
    background-color: rgba(35, 173, 99, 0.30);
    color: #F4EFE4;
    transition: background 0.3s, color 0.3s;
}

.edit input.form-control:focus {
    box-shadow: none;
    outline: none;
    background-color: rgba(35, 173, 99, 0.50);
    color: #F4EFE4;
    transition: background 0.3s, color 0.3s;
}