@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'Poppins';
}

.container{
    margin-bottom: 30px;
}
#products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px 5px;
    justify-items: center;
    padding: 20px;
}

.catalogue{
    margin-bottom: 75px;
}
.card {
    background-color: rgba(35, 173, 99, 0.5);
    width: 300px;
    max-height: 400px;
    padding: 20px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.rectangle {
    height: 256px;
    margin-bottom: 20px;
}

    .rectangle img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }

.product-name, .points {
    margin: 0;
}

#back-button {
    display: flex;
    justify-content: center;
}

    #back-button > a > button {
        background: transparent;
        border-radius: 40px;
        border: 1px solid #51DAC9;
        width: 100px;
        padding: 5px;
        color: white;
    }

        #back-button > a > button:hover {
            background: #51DAC955;
        }
