@page "/Catalogue/detail/{id}"
@model Clover.Pages.Catalogue.ProductDetailModel
@{
}
<head>
    <style>
        * {
            font-family: 'Poppins';
        }
        #product-container{
            display: flex;
            justify-content: center;
        }

        .card-product {
            background-color: rgba(35, 173, 99, 0.5);
            width: 450px;
            height: 450px;
            padding: 20px;
            color: white;
            border-radius: 30px;
        }

        .image-container {
            height: 300px;
            margin-bottom: 20px;
        }

            .image-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 15px;
            }

        .product-name, .points, .product-id {
            margin: 0;
        }
    </style>
</head>

<div id="product-container">
    <div class="card-product">
        <div class="image-container">
            <img src="https://f.fcdn.app/imgs/d9d1ad/www.zonatecno.com.uy/zoteuy/84cc/original/catalogo/100896_100896_2/1500-1500/auriculares-inalambrico-havit-hv-tw935-black-auriculares-inalambrico-havit-hv-tw935-black.jpg" alt="Descripción de la imagen">
        </div>
        <p class="product-id">Producto N° : @Model.catalogue.id</p>
        <p class="product-name">@Model.catalogue.productDescription</p>
        <p class="points">@Model.catalogue.points</p>
    </div>
</div>