@page "/Catalogue/detail/{id}"
@model Clover.Pages.Catalogue.ProductDetailModel
@{
    Layout = "_Layout-Logeado";

}
<head>
    <link rel="stylesheet" href="~/estilos/productdetail.css" />
</head>

<div id="product-container">
    <div class="card-product">
        <div class="image-container">
            <img src="@Model.catalogue.image" alt="Descripción de la imagen">
        </div>
        <p class="product-id">Producto N° : @Model.catalogue.id</p>
        <p class="product-name">@Model.catalogue.productDescription</p>
        <p class="points">@Model.catalogue.points</p>
    </div>
</div>

<div id="back-button">
    <a href="/Catalogue"><button>Volver</button></a>
</div>