# .gitignore
.vs/
.idea/
.idea
.git/
.github/
VirtualWallet/bin/
VirtualWallet/obj/
Clover/bin/
Clover/obj/
VirtualWallet/appsettings.json
/VirtualWallet/VirtualWallet.csproj
/VirtualWallet/appsettings.json
/VirtualWallet/appsettings.json
/VirtualWallet/Controllers/AutenticacionController.cs
/VirtualWallet/appsettings.json
