@{
    var token = TempData["Token"] as string;
}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Clover</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebClover.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/estilos/layout-style.css">
    <link rel="stylesheet" href="~/estilos/FixedTermStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body id="hf-container">
    <header>
        <div class="header-container">
            <a id="logo" href="/">
                <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" data-name="Capa 1" viewBox="0 0 492.01 172.43">
                      
                      <g>
                        <path class="cls-3" d="M211.01,56.21c2.74-1.51,2.82-4.08,3.72-6.02,3.82-8.19,7.56-16.44,13.86-23.09,4.6-4.86,10.31-6.76,16.87-4.63,6.95,2.26,10.44,7.35,11.32,14.47,.36,2.93-.91,5.53-1.37,8.29,13.04,3.17,18.6,13.62,13.04,24.26-3.06,5.85-8.35,7.9-14.39,8.69-5.15,.67-10.3,1.15-15.52,.39-4.97-.72-10.05-.27-15.1-1.25,7.53,3.72,15.3,6.84,22.27,11.45,6.2,4.09,12.37,8.29,12.65,16.89,.36,11.1-9.05,19.1-19.86,16.38-2.99-.75-3.69-.06-4.48,2.49-2.43,7.77-8.58,12.28-15.92,11.99-7.62-.3-13.7-5.48-15.39-13.33-.8-3.74-1.25-7.56-2.11-12.89-2.01,5.56-3.43,9.78-5.06,13.91-5.04,12.77-12.19,23.82-24.97,30.25-4.74,2.39-8.5,1.64-10.29-2.19-1.83-3.91-.13-7.09,5.13-9.08,14.3-5.41,20.65-17.52,26.84-31.03-2.7,1.18-3.27,3.04-4.37,4.36-6.7,8.11-14.24,10.19-22,5.94-7.55-4.13-10.01-11.87-6.89-21.63-9-2.07-13.93-6.5-14.91-13.4-1.42-10.05,4.75-17.91,15.02-19.41,9.4-1.38,18.71-.61,28.02,.83,1.31,.2,2.67,.15,5.38,.28-10.27-4.51-19.51-8.18-27.48-14.18-4.31-3.24-8.24-6.8-8.97-12.75-1.43-11.7,7.98-20.95,19.43-18.21,3.66,.88,3.95-.37,4.85-2.91,2.73-7.68,9.37-12.06,16.98-11.48,6.91,.53,12.96,6.4,14.45,13.97,2.11,10.75,.78,21.44-.77,32.64Z"></path>
                        <path class="cls-4" d="M206.09,69.3c-4.55-7.81-8.87-15.21-13.18-22.61-.43,.24-.86,.47-1.3,.71,3.47,8.16,8.85,15.36,13.1,23.95-14.78-5.58-29.3-10.42-41.4-20.2-5.65-4.56-7.08-12.84-3.67-18.58,3.76-6.32,11.01-8.7,18.34-5.71,2.47,1.01,3.24,1.25,3.62-1.96,.93-7.8,6.85-13.16,13.89-13.29,7.11-.13,12.76,4.94,14.33,12.85,2.43,12.26,.25,24.35-1.54,36.43-.38,2.6-.31,5.39-2.19,8.41Z"></path>
                        <path class="cls-4" d="M204.4,73.35c-8.86,5.21-16.31,9.59-23.75,13.97l.64,1.19c8.18-2.99,14.87-9.04,23.74-12.65-5.41,14.94-10.23,29.3-20.22,41.14-3.68,4.36-8.46,6.65-14.29,5.19-5.89-1.47-9.34-5.44-10.88-11.3-.83-3.17,0-6.05,1.3-8.7,1.21-2.47,1.24-3.4-1.82-3.83-9.11-1.28-13.32-6.09-13.13-14.53,.17-7.43,5.53-12.59,13.86-13.81,14.66-2.14,28.85,1.05,44.54,3.32Z"></path>
                        <path class="cls-5" d="M208.23,77.05c4.46,7.6,8.85,15.09,13.24,22.57,.5-.29,1.01-.57,1.51-.86-4.34-7.69-8.67-15.38-13.53-23.99,14.84,5.63,28.94,10.31,40.7,19.77,6.62,5.32,8.07,12.44,4.25,19.12-3.68,6.43-10.11,8.5-18.25,5.51-2.37-.87-2.93-.82-3.46,1.87-1.78,9.03-7.34,13.9-14.77,13.49-7.54-.41-13.23-5.95-14.03-15.06-1.24-13.92,.52-27.7,3.45-41.33,.06-.29,.41-.52,.89-1.09Z"></path>
                        <path class="cls-5" d="M210.31,72.58c8.24-4.84,15.85-9.32,23.46-13.79-.28-.51-.57-1.01-.85-1.52-7.52,4.24-15.05,8.48-23.33,13.16,1.62-7.36,4.45-13.49,7.18-19.6,3.74-8.39,7.41-16.93,14.36-23.35,4.16-3.84,9.02-4.78,14.45-2.78,5.47,2.01,8.2,6.09,9.04,11.6,.41,2.71-.18,5.36-1.42,7.79-1.21,2.38-1.15,3.36,2.03,3.68,8.55,.86,13.16,6.09,13.1,14.17-.06,7.71-5.51,13.26-14.1,14.15-4.16,.43-8.39,1.07-12.51,.74-10.25-.83-20.53-1.68-31.41-4.26Z"></path>
                        <path class="cls-6" d="M199.94,98.73c-3.72,18.16-7.56,36.27-22.85,48.84-2.69,2.22-5.72,4.11-8.82,5.72-2.2,1.14-4.67,.95-6.01-1.69-1.32-2.61-.33-4.84,2.16-5.73,17.4-6.26,24.82-20.94,31.24-36.52,1.45-3.53,2.85-7.08,4.27-10.62Z"></path>
                      </g>
                      <text class="cls-7" transform="translate(0 126.35)">
                        <tspan x="0" y="0" xml:space="preserve">Cl   </tspan>
                        <tspan class="cls-2" x="250.46" y="0"> </tspan>
                        <tspan class="cls-1" x="277.22" y="0">v</tspan>
                        <tspan x="351.54" y="0">er</tspan>
                      </text>
                    </svg>

            </a>
            <div class="menu">
                <a href="#">Inicio</a>
                <a href="#">Más info</a>
            </div>
            <a href="/login"><button>Ingresar</button></a>
        </div>
        
    </header>
    <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    <footer class="footer text-muted">
        <hr id="hr-line" />
        <div class="container">
            <p id="footer-text">
                Made With 💚 By MilaNet
            </p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        var token = '@TempData["Token"]'; // Obtengo el token desde TempData
        if (token) {
            localStorage.setItem("token", token); // Establezco el token en localStorage
        }
    });
</script>
     
</body>
</html>