@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
</head>

<body>

    <div class="text-center">
        <h1 class="display-4">Bienvenidos a Clover &#127808 </h1>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var token = '@TempData["Token"]'; // Obtengo el token desde TempData
            if (token) {
                localStorage.setItem("token", token); // Establezco el token en localStorage
            }
        });
    </script>

</body>
