@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* @{
    var token = TempData["Token"] as string;
} *@

@* <div class="text-center">
    <a href="/Transactions">
        <button>
            Transacciones
        </button>
    </a>
</div>
<div class="text-center">
    <a href="/Usuarios/editar/5">
        <button>
            Test Editar Usuario
        </button>
    </a>
</div> *@

@* <script>
    document.addEventListener("DOMContentLoaded", function () {
        var token = '@TempData["Token"]'; // Obtengo el token desde TempData
        if (token) {
            localStorage.setItem("token", token); // Establezco el token en localStorage
        }
    });
</script> *@